<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>Atletico_Nacional</title>
</head>

<body style="background-color:rgba(3, 5, 5, 0.452)">

  <h1>Atletico_Nacional</h1>  
  <h3>HISTÓRIA</h3></br>
  
  <p>
  No ano de 1989 o Atlético Nacional sagrou-se a primeira equipe colombiana a vencer a Copa Libertadores da América, o feito foi sobre o Club Olimpia do Paraguai. O Atlético Nacional
  seguiu fazendo boas campanhas,em 1990 e em 1991 foi eliminado pelo mesmo Club Olimpia do 
  Paraguai nas semifinais. Em 1995 chegou a final com contra o Grêmio, sendo derrotado no jogo
  de ida no estádio Olímpico em Porto Alegre por 3 a 1 e empatado por 1 a 1 no jogo de volta,
  no lendário estádio Atanasio Girardot.
  </p>

  <dl>
    <dt>Atacante:</dt>
        <dd>ANDRÉA ANDRADE</dd>
        <dd>JEFERSON DUQUE</dd>
        <dd>GEISSON PEREA</dd>
               
    <dt>Meia:</dt>
        <dd>EWIL MURILLO</dd>
        <dd>CHRISTIAN MAFLA</dd>
        <dd>YILMAR VELAZQUEZ</dd>
        <dd>JORGE SEGURA</dd>
      
    <dt>Zaga:</dt>
        <dd>PALACIOS</dd>
        <dd>JARLAN BERRERA</dd>
        <dd>DIEGO BRAGHIERI</dd>

      <dt>Goleiro:</dt> 
        <dd>PAULO BERGAMOTA</dd>

    <dt>Tecnico:</dt>
        <dd>CHRISTIAN QAUINTANA</dd>    
         

  </dl>
  
</body>

</html>