<!DOCTYPE html>


<html>

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>

<body style="background-color:rgba(3, 5, 5, 0.452)">

    <h1>Cadastrar novas Partidas</h1>

    <form action="cadastrar" method="POST">
        
        <label>Time 1:</label>
        <input type="text" name="nometime1"maxlenght="60"/></br>   
        
        <label>Time 2:</label>
        <input type="text" name="nometime2"maxlenght="60"/></br>  
        
        <label>Data da Partida:</label>
        <input type="text" name="datadapartida"maxlenght="10"/></br>  
        
        <label>Horario da Partida:</label>
        <input type="text" name="horariodapartida"maxlenght="10"/></br>    
                            
        <input type="submit" value="Salvar"/>

    </form>

</body>


</html>