<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <title>Cadastro</title>

       
</head>


<body style="background-color:rgba(3, 5, 5, 0.452)">

    <h1>Cadastrar Time</h1>

    <form action="cadastrar" method="POST">
        
        <label>Nome:</label>
        <input type="text" name="nometime"maxlenght="60"/></br>

        <label>Historia:</label>
        <input type="text" name="historia"maxlenght="60"/></br>        

        <label>Atacante:</label>
        <input type="text" name="atacante"maxlenght="60"/></br>

        <label>Meia:</label>
        <input type="text" name="Meia"maxlenght="60"/></br>

        <label>zaga:</label>
        <input type="text" name="zaga"maxlenght="60"/></br>
        
        <label>goleiro:</label>
        <input type="text" name="goleiro"maxlenght="60"/></br>

        <label>Tecnico:</label>
        <input type="text" name="tecnico"maxlenght="60"/></br>
        
        <input type="submit" value="Salvar"/>
        
    </form>

</body>

</html>
