<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Corinthians</title>
</head>

<body style="background-color:rgba(3, 5, 5, 0.452)">

  <h1>Corinthians</h1>
  <h3>HISTÓRIA</h3></br>

  <p>
  O primeiro grande desafio foi a compra da bola, quando os sócio-fundadores saíram às ruas do Bom Retiro tentando angariar novos sócios e arrecadar o montante de 6 mil réis necessários. O dinheiro arrecadado foi despejado sobre o balcão de uma lojinha de esportes à rua São Caetano, dinheiro trocado, com muitas notas e moedas de baixo valor, mas que enfim podiam comprar a desejada bola.
  Ao final, conseguiram os dois objetivos: a nova bola, e o número crescente de associados, que se tornou maior que o de não-associados (os diretores exigiam a associação para quem fosse doar o dinheiro). Em seguida, o segundo desafio foi preparar o campo da José Paulino, mas em um esforço conjunto todos jogadores, diretores e associados se reuniram para fazer a capina do terreno.  
  </p>

  <dl>
    <dt>Atacante:</dt>
        <dd>CAZARES</dd>
        <dd>RAMIRO</dd>
        <dd>ÉDERSON</dd>
               
    <dt>Meia:</dt>
        <dd>FÁBIO SANTOS</dd>
        <dd>LUCAS PITON</dd>
        <dd>SIDCLEY</dd>
        <dd>BRUNO MÉNDEZ</dd>
        
    <dt>Zaga:</dt>
        <dd>CANTILLO</dd>
        <dd>LÉO SANTOS</dd>
        <dd>GIL</dd>

    <dt>Goleiro:</dt>
        <dd>CÁSSIO</dd>  
        
    <dt>Tecnico:</dt>
        <dd>PEREA CANTILLO</dd>
         
  </dl>
  
</body>

</html>