<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>PÁGINA_INICIAL</title>

    <style>
        body {
            background-image: url('../imagens/miami_beach_a_noite.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            }
    </style>

</head>

<body style="background-color:rgba(3, 5, 5, 0.452)">

    <font color="white">

       <h1>PÁGINA_INICIAL</h1>        

        <h3><a href="atletico_nacional">ATLETICO_NACIONAL</a></h3></br>          
           
        <h3><a href="corinthians">CORINTHIANS</a></h3></br>     

        <h3><a href="palmeiras">PALMEIRAS</a></h3></br>     

        <h3><a href="new_york_city">NEW_YORK_CITY</a></h3></br>     

        <h3><a href="cadastrartime.html">CADASTRAR OS TIMES</a></h3></br>     

        <h3><a href="cadastrarplacar.html">CADASTRAR OS PLACARES</a></h3></br>  
        
               
</body>

</html>