<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title class="centro">FLORIDA CUP</title>
</head>

<body style="background-color:rgba(3, 5, 5, 0.452)">

    <div class="border">

        <h1 class="centro">Florida Cup</h1>

    <h3 class="centro"><a href="listar_time.html"></a></h3>

    </div>
    

    <table border = 2 "collor: 000000;">

        <tr class="centro">
            <td><h3>New_York_City</h3></td>
        </tr>    
              
        <tr class="centro">
            <td><h3>Atletico_Nacional</h3></td>
        </tr>    

        <tr class="centro">
            <td><h3>Palmeiras</h3></td>
        </tr>   
        
        <tr class="centro">
            <td><h3>Corinthians</h3></td>
        </tr> 

</html>

         