<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>New_York_City</title>
</head>

<body style="background-color:rgba(3, 5, 5, 0.452)">

  <h1>New_York_City</h1>  
  <h3>HISTÓRIA</h3></br>
  
  <p>
    Embora o time existisse desde 2010, só estreou na MLS 5 anos depois, devido a falta de patrocínio. Isso porque nos Estados Unidos se você gosta do futebol verdadeiro tradicional, que não envolve gorilas anabolizados brincando de pega-pega atrás de um ovo de páscoa, ou você tem uma vagina, ou queria ter uma. No final tiveram que convencer os sheiks da Etihad a gastar mais alguns bilhões (1% de seu patrimônio total) com um clube de futebol. Para cortar  
    gastos usaram os uniformes de treino do Manch.
   
  </p>

  <dl>
    <dt>Atacante:</dt>
        <dd>JUAN TORRES</dd>
        <dd>MAXMILIANO MORÁLEZ</dd>
        <dd>ALEXANDER RING</dd>
               
    <dt>Meia:</dt>
        <dd>SEBASTIAN IBEAGHA</dd>
        <dd>JOE SCALLY</dd>
        <dd>TAYLON GRAY</dd>
        <dd>JAMES SANDS</dd>
        
    <dt>Zaga:</dt>
        <dd>ALEANDRR CALLENS</dd>
        <dd>MAXIME CHANOT</dd>
        <dd>ANTON TINNERHOLM</dd>

    <dt>Goleiro:</dt>
        <dd>SEAN JOHNSON</dd>  

    <dt>Tecnico:</dt>         
        <dd>ALEANDER CALLENS</dd>
            
  </dl>
  
</body>

</html>