<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Palmeiras</title>
</head>

<body>

  <h1>Palmeiras</h1>
  <h3>HISTÓRIA</h3></br>
  
  <p>
  O Palmeiras surgiu no dia 26 de agosto de 1914. Fundado por imigrantes italianos, seu primeiro nome foi Società Sportiva Palestra Italia. Em 1942, quando estava estabelecida como uma força do futebol paulista, a equipe foi obrigada a trocar de nome, passando a se chamar Sociedade Esportiva Palmeiras em decorrência da Segunda Guerra Mundial. O Palmeiras foi campeão paulista logo em sua primeira partida com o novo nome. Foram, ao todo, 22 títulos estaduais. Um dos times mais famosos da história do
  </p>

  <dl>
    <dt>Atacante:</dt>
        <dd>DANILO SANTOS</dd>
        <dd>MATÍAS VIÑA</dd>
        <dd>LUCAS ESTEVES</dd>
               
    <dt>Meia:</dt>
        <dd>MAYKE ESTEVES</dd>
        <dd>MARCOS ROCHA</dd>
        <dd>LUAN GAMA</dd>
        <dd>GUSTAVO GÓMEZ</dd>
        
    <dt>Zaga:</dt>
        <dd>VINICIUS DE MORAES</dd>
        <dd>EMERSON SANTOS</dd>
        <dd>FELIPE MELO</dd>

    <dt>Goleiro:</dt>
        <dd>WEVERTON DA SILVA</dd> 
        
    <dt>Tecnico:</dt>
        <dd>VANDERLEY LUXEMBURGO</dd>
         
  </dl>
  
</body>

</html>